<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Languages</h4>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-java-original-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>HTML5, CSS3, SCSS, JavaScript, Java</p>
    </div>
    <div class="four columns">
      <h4>Frameworks and Databases</h4>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-angularjs-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-express-original-wordmark colored"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <p>React, Redux, Angular, Node.js, Express, Mocha, MongoDB, MySQL, Socket.io</p>
    </div>
    <div class="four columns">
      <h4>Other Software and Technologies</h4>
      <i class="devicon-photoshop-plain colored"></i>
      <i class="devicon-illustrator-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <p>PhotoShop, Illustrator, Axure RP, 3DS MAX, AJAX, 3D Animation</p>
    </div>
  </div>
</div>
