<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/hanginhubs.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Hangin’Hubs </h5>
      <li> React/Redux Material-UI Google Map Darksky and Eventbrite API</li>
      <p>Mobile-First Web App for Collaboratively suggesting and managing group outings</p>
      <a class="project-link" href="http://www.hanginhubs.com ">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> LinkedList </h5>
      <ul>
        <li> Angular, Google Map, IBM Watson's Tone Analyzer, Glassdoor</li>
      </ul>
      <p>Dashboard to organize, manages, and plans the job application process</p>
      <a class="project-link" href="https://github.com/Team-Callisto/BlueField">Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Moody </h5>
      <ul>
        <li> Angular, Node, Express, RESTful API, MongoDB, Passport.js</li>
      </ul>
      <p>Track and visualize your daily, weekly, and monthly moods which are provided by user</p>
      <a class="project-link" href="https://github.com/Team-Callisto/greenfield">Check it out</a>
    </div>
  </div>

</div>
